<div class="list-monstahs">
    <app-basic-job-todo
        [imageUrl]="'https://static.wikia.nocookie.net/lobotomycorp/images/d/db/TrainingStandardDummyRabbitPortrait.png'"></app-basic-job-todo>
    <app-basic-job-todo
        [imageUrl]="'https://static.wikia.nocookie.net/lobotomycorp/images/d/db/TrainingStandardDummyRabbitPortrait.png'"></app-basic-job-todo>
    <app-basic-job-todo
        [imageUrl]="'https://static.wikia.nocookie.net/lobotomycorp/images/d/db/TrainingStandardDummyRabbitPortrait.png'"></app-basic-job-todo>
</div>