.monster-tab-container {
    background-color: rgb(95, 39, 39);
    position: relative;
    height: calc(100vh - 8px); /* Fix calculation */
    overflow-y: auto;
}

.monsters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 70px;
    padding: 50px;
    overflow: auto;
}

.monster-item {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    position: relative; /* Add relative positioning */
}


