.square-box {
  width: 200px;
  height: 200px;
  background-color: #832e2e;
  position: relative; /* Added positioning */
}

.square-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square-box input[type="checkbox"] {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
