<router-outlet>
  <div class="container mt-4">
    <div class="tabs-container">
      <ul class="tab-list">
        <li (click)="onTabClick('Home Tab')" [class.active]="activeTab == 'Home Tab'" class="tab-link tab1">{{
          tabNames[0] }}</li>
        <li (click)="onTabClick('Abnormalities')" [class.active]="activeTab == 'Abnormalities'" class="tab-link tab2">{{
          tabNames[1] }}</li>
        <li (click)="onTabClick('Other Details')" [class.active]="activeTab == 'Other Details'" class="tab-link tab3">{{
          tabNames[2] }}</li>
          <li (click)="onTabClick('Basic')" [class.active]="activeTab == 'Basic'" class="tab-link tab4">{{
            tabNames[3] }}</li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div *ngIf="activeTab == 'Home Tab'" class="w-100">
      <app-home-tab></app-home-tab>
    </div>
    <div *ngIf="activeTab == 'Abnormalities'" class="w-100">
      <app-monsters-tab></app-monsters-tab>
    </div>
    <div *ngIf="activeTab == 'Other Details'" class="w-100">
      Other Details
    </div>
    <div *ngIf="activeTab == 'Basic'" class="w-100">
      <app-basic-tab></app-basic-tab>
    </div>
  </div>
</router-outlet>